<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ "/index" | prepend: site.baseurl }}">About</a></li>
				<li><a href="{{ "https://www.ntnu.edu/about" }}">NTNU</a></li>
				{% assign sorted_pages = site.pages | sort:"order" %}
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}			

			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<center>
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
	<h3>{{ site.description }}</h3>
	</center>
</header>
