<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ "/index" | prepend: site.baseurl }}">About</a></li>
				{% assign sorted_pages = site.pages | sort:"order" %}
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}			
	                        <li><a href="{{ "https://badw.github.io/assets/badw-cv.pdf" }}">CV</a></li>
	                        <li><a href="{{ "https://www.ntnu.edu/about" }}"> NTNU<svg><g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline><path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path></g></svg></a></li>
				<li><a href="{{ "https://www.ntnu.edu/ima/research/facet" }}">FACET<svg width="24px" height="24px" viewBox="0 0 24 24" style="cursor:pointer"><g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline><path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path></g></svg></a></li>

			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<center>
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
	<h3>{{ site.description }}</h3>
	</center>
</header>
