$content-width: 800px;
$main: #646464;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Open Sans', sans-serif;
$heading-font-color: #ffffff;
$light: #E7EDF4;
$header: #9ec2f7;
$blue-color: #9ec2f7;
$grey-color: #727272;
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
