$content-width: 800px;
$main: #646464;
$font-style: 'Open Sans', sans-serif;
$light-font-color: #262626;
$dark-font-color: #f7f7f7;
$light-link-color: #425469;
$dark-link-color: #85afde;
$link-hover-color: $main;
$heading-font: 'Open Sans', sans-serif;
$heading-font-color: #9ec2f7;
$light: #E7EDF4;
$dark: #2f4865;
$header: #9ec2f7;
$light-blue-color: #9ec2f7;
$dark-blue-color: #9ec2f7;
$light-grey-color: #727272;
$dark-grey-color: #c9c7c7;
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
