$content-width: 800px;
$main: #646464;
$font-style: 'Open Sans', sans-serif;
$light-font-color: #262626;
$dark-font-color: #f7f7f7;
$light-link-color: #425469;
$dark-link-color: #D2B48C;
$link-hover-color: $main;
$heading-font: 'Open Sans', sans-serif;
$heading-font-color: #D2B48C;
$light: rgba(231, 237, 244, 50);
$dark: rgba(47, 72, 101,50);
$header: #D2B48C;
$light-blue-color: #D2B48C;
$dark-blue-color: #D2B48C;
$light-grey-color: #727272;
$dark-grey-color: #c9c7c7;
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
