html, html[data-theme="light"] {
  --link-color: $light-link-color;
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: $light-font-color;
  --grey-text-color: $light-grey-color;
  --blue-text-color: $light-blue-color;
}

html[data-theme="dark"] {
  --link-color: $dark-link-color;
  --main-background-color: rgb(80,80,80);
  --main-text-color: $dark-font-color;
  --grey-text-color: $dark-grey-color;
  --blue-text-color: $dark-blue-color;
}

@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
  --link-color: $dark-link-color;
  --main-background-color: rgb(80,80,80);
  --main-text-color: $dark-font-color;
  --grey-text-color: $dark-grey-color;
  --blue-text-color: $dark-blue-color;
    }

    html[data-theme="light"] {
  --link-color: $light-link-color;
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: $light-font-color;
  --grey-text-color: $light-grey-color;
  --blue-text-color: $light-blue-color;
  }
}

