html {
	--top-spacing: 100px;
}
body {
	margin: 0;
	font-family: $font-style;
	font-size: calc(0.4em+ 0.8vw);
	line-height: calc(1.0 + 0.6) ;
	scroll-padding-top: var(--top-spacing);
	margin:var(--top-spacing) auto;
	background-color:var(--main-background-color);
	color: var(--main-text-color);

}
h1,
h2,
h3 {
	font-weight: 200;
	font-size: calc(0.8em + .5vw);
	color: var(--grey-text-color);
	font-family: $font-style;
	line-height: 1.2;
}
h1 {
	color: $heading-font-color;
	font-size: calc(1.0em + 1.0vw);
	font-weight: 50;
	font-family: $font-style;
	line-height: 1.2;
	a,
	a:visited {
		text-decoration: none;
		color: var(--blue-text-color);
	}
}
h2 {
	font-size: 1.5em ;
	font-weight: 200;
	color: var(--blue-text-color);
}
h5 {
	font-size: 0.9em ;
	font-weight: 200;
	color: var(--blue-text-color);
}
h4 {
	font-size: 0.9em ;
	font-weight: 200;
	color: var(--grey-text-color);
}

a,
a:visited {
	color: var(--link-color);
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

header {
#	background: $header;
	padding: 30px 10px;
	font-size: calc(1.0em + 1.0vw); 
	font-weight: 100; 
	text-align: center;
	margin: 20px 0 0;
	height: calc(5vh + 15vw);
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 30px 30px;
	max-width: $content-width;
	margin: 0 auto;
	text-align: justify;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background:var(--main-background-color) ;
	width: 100%;
	z-index: 2;
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-size: calc(0.4em+ 0.8vw);
				        line-height: calc(1.0 + 0.6) ;
					color: $heading-font-color;
					font-family: $font-style;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $light-grey-color;
					}
				}
			}
			&:after {
				content: '';
				display: table;
				clear: both;
				color: var(--blue-text-color);
			}
		}
	}
}
footer {
	text-align: center;
	padding: 40px;
}
.icon {
    > svg {
        display: inline-block;
        width: 33px;
        height: 33px;
        vertical-align: middle;
	padding: 5px;
        path {
            fill: var(--grey-text-color);
        }
	points {
	    fill: var(--grey-text-color);
	}
    }
}
.page__content { 
	text-align: justify;
}

